name: Trivy vulnerability scanner
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Parse go version from release-tools/prow.sh
        run: |
          GO_VERSION=$(cat release-tools/prow.sh  | grep "configvar CSI_PROW_GO_VERSION_BUILD" | awk '{print $3}' | sed 's/"//g')
          echo "Using go from release-tools: $GO_VERSION"
          echo "$GO_VERSION" >> '.go-version'

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version-file: .go-version

      - name: Build an image from Dockerfile
        run: |
          make
          docker build -t test/node-driver-registrar:latest -f Dockerfile --output=type=docker --label revision=latest .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'test/node-driver-registrar:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN'
